
build/lib/.DS_Store
build/lib/freeride/__init__.py
build/lib/freeride/curves.py
build/lib/tests/__init__.py
build/lib/tests/test_curves.py
docs/.DS_Store
docs/_build/.DS_Store
docs/_build/doctrees/costs.doctree
docs/_build/doctrees/curves.doctree
docs/_build/doctrees/environment.pickle
docs/_build/doctrees/formula.doctree
docs/_build/doctrees/index.doctree
docs/_build/doctrees/plotting.doctree
docs/_build/html/.buildinfo
docs/_build/html/_sources/costs.rst
docs/_build/html/_sources/curves.rst
docs/_build/html/_sources/formula.rst
docs/_build/html/_sources/index.rst
docs/_build/html/_sources/plotting.rst
docs/_build/html/_static/basic.css
docs/_build/html/_static/doctools.js
docs/_build/html/_static/documentation_options.js
docs/_build/html/_static/file.png
docs/_build/html/_static/images/logo_binder.svg
docs/_build/html/_static/images/logo_colab.png
docs/_build/html/_static/images/logo_deepnote.svg
docs/_build/html/_static/images/logo_jupyterhub.svg
docs/_build/html/_static/language_data.js
docs/_build/html/_static/locales/ar/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/ar/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/bg/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/bg/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/bn/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/bn/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/ca/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/ca/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/cs/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/cs/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/da/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/da/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/de/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/de/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/el/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/el/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/eo/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/eo/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/es/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/es/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/et/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/et/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/fi/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/fi/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/fr/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/fr/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/hr/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/hr/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/id/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/id/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/it/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/it/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/iw/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/iw/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/ja/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/ja/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/ko/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/ko/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/lt/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/lt/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/lv/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/lv/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/ml/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/ml/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/mr/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/mr/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/ms/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/ms/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/nl/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/nl/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/no/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/no/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/pl/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/pl/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/pt/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/pt/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/ro/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/ro/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/ru/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/ru/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/sk/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/sk/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/sl/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/sl/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/sr/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/sr/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/sv/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/sv/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/ta/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/ta/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/te/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/te/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/tg/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/tg/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/th/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/th/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/tl/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/tl/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/tr/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/tr/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/uk/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/uk/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/ur/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/ur/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/vi/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/vi/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/zh_CN/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/zh_CN/LC_MESSAGES/booktheme.po
docs/_build/html/_static/locales/zh_TW/LC_MESSAGES/booktheme.mo
docs/_build/html/_static/locales/zh_TW/LC_MESSAGES/booktheme.po
docs/_build/html/_static/minus.png
docs/_build/html/_static/plus.png
docs/_build/html/_static/pygments.css
docs/_build/html/_static/sbt-webpack-macros.html
docs/_build/html/_static/scripts/bootstrap.js
docs/_build/html/_static/scripts/bootstrap.js.LICENSE.txt
docs/_build/html/_static/scripts/bootstrap.js.map
docs/_build/html/_static/scripts/pydata-sphinx-theme.js
docs/_build/html/_static/scripts/pydata-sphinx-theme.js.map
docs/_build/html/_static/scripts/sphinx-book-theme.js
docs/_build/html/_static/scripts/sphinx-book-theme.js.map
docs/_build/html/_static/searchtools.js
docs/_build/html/_static/sphinx_highlight.js
docs/_build/html/_static/styles/bootstrap.css
docs/_build/html/_static/styles/pydata-sphinx-theme.css
docs/_build/html/_static/styles/sphinx-book-theme.css
docs/_build/html/_static/styles/theme.css
docs/_build/html/_static/vendor/fontawesome/6.1.2/css/all.min.css
docs/_build/html/_static/vendor/fontawesome/6.1.2/js/all.min.js
docs/_build/html/_static/vendor/fontawesome/6.1.2/js/all.min.js.LICENSE.txt
docs/_build/html/_static/vendor/fontawesome/6.1.2/LICENSE.txt
docs/_build/html/_static/vendor/fontawesome/6.1.2/webfonts/fa-brands-400.ttf
docs/_build/html/_static/vendor/fontawesome/6.1.2/webfonts/fa-brands-400.woff2
docs/_build/html/_static/vendor/fontawesome/6.1.2/webfonts/fa-regular-400.ttf
docs/_build/html/_static/vendor/fontawesome/6.1.2/webfonts/fa-regular-400.woff2
docs/_build/html/_static/vendor/fontawesome/6.1.2/webfonts/fa-solid-900.ttf
docs/_build/html/_static/vendor/fontawesome/6.1.2/webfonts/fa-solid-900.woff2
docs/_build/html/_static/vendor/fontawesome/6.1.2/webfonts/fa-v4compatibility.ttf
docs/_build/html/_static/vendor/fontawesome/6.1.2/webfonts/fa-v4compatibility.woff2
docs/_build/html/_static/webpack-macros.html
docs/_build/html/costs.html
docs/_build/html/curves.html
docs/_build/html/formula.html
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/objects.inv
docs/_build/html/plotting.html
docs/_build/html/py-modindex.html
docs/_build/html/search.html
docs/_build/html/searchindex.js
freeride.egg-info/dependency_links.txt
freeride.egg-info/not-zip-safe
freeride.egg-info/PKG-INFO
freeride.egg-info/requires.txt
freeride.egg-info/SOURCES.txt
freeride.egg-info/top_level.txt
freeride/.DS_Store
freeride/__pycache__/__init__.cpython-311.pyc
freeride/__pycache__/__init__.cpython-39.pyc
freeride/__pycache__/costs.cpython-311.pyc
freeride/__pycache__/curves.cpython-311.pyc
freeride/__pycache__/curves.cpython-39.pyc
freeride/__pycache__/equilibrium.cpython-39.pyc
freeride/__pycache__/formula.cpython-311.pyc
freeride/__pycache__/plotting.cpython-311.pyc
freeride/__pycache__/plotting.cpython-39.pyc
freeride/__pycache__/utilities.cpython-311.pyc
notebooks/.DS_Store
notebooks/.ipynb_checkpoints/curves-checkpoint.ipynb
notebooks/curves-out.ipynb
build/.DS_Store
.DS_Store
notebooks/.ipynb_checkpoints/demo-20240606-checkpoint.ipynb
.ipynb_checkpoints/example-checkpoint.ipynb
/.ipynb_checkpoints
freeride/__pycache__/equilibrium.cpython-311.pyc
freeride/__pycache__/base.cpython-311.pyc
freeride/__pycache__/equilibrium.cpython-311.pyc
freeride/__pycache__/base.cpython-311.pyc
freeride/__pycache__/equilibrium.cpython-311.pyc
freeride/__pycache__/base.cpython-311.pyc
*.pyc
*.pyc
*.pyc
*.pyc
*.pyc
